body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*NAV STYLING*/
.navbar ul {
  list-style: none;
  background: rgb(50, 50, 50);
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  width: 100px;
  display: block;
  padding: 15px;
  font-size: 17px;
}

.navbar a:hover {
  background: #005F5F;
  color: rgb(0, 0, 0);
}

/*INTRO SYLING*/
header {
  width: auto;
  padding-top: 32px;
  padding-bottom: 72px;
  background-image: url(./images/bokeh-black.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 64px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 42px;
  text-align: center;
}

header h1, header h2 {
  text-shadow: 3px 3px #005F5F
}

h3 {
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}

/* GENERAL SECTION STYLING */
.projects-area h2, .about-area h2, .contact-area h2 {
  font-size: 56px;
  background-color: #005F5F;
  border-radius: 8px;
}

.dark-theme {
  background-color: #000000;
  color: #fff;
}



/*PROJECT SYLING*/

.projects-area {
  padding-top: 15px;
  padding-bottom: 15px;
}

.projects-area p {
  text-align: center;
}

.btn {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

/* ABOUT STYLING*/

.about-area {
  padding-top: 15px;
  padding-bottom: 15px;
}

.about-area p {
  font-size: 18px;
  line-height: 20px;
}

main img {
  width: 100%;
}

img.image-enhanced {
  border-radius: 8px;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/*CONTACT SYLING*/
/* --- Contact Form Design --- */
form {
  margin-right: 10%;
  margin-left: 10%;
}

form label {
  display: block;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;

}

form textarea {
  width: 100%;
  height: 160px;

}

.contact-area {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact-area ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.contact-area li {
  display: inline-block;
}

.contacts img {
  width: 50px;
  padding: 20px;
  
}

/*FOOTER STYLING*/

footer {
  background: rgb(0, 0, 0);
}

footer p{
  color: rgb(255, 255, 255);	
  font-size: 10px;
	text-align: center;
  padding: 10px;
  margin: 0;
}

footer a {
  color: #fff;
}

/* ---  Desktop Flex Viewing --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
    justify-content: space-evenly;
  }
  form {
    margin-left: 35%;
    margin-right: 35%;
  }

  h1 {
    font-size: 120px;
  }
}
